{
  "ali-oss": {
    "region": "oss-cn-shenzhen",
    "authorizationV4": true,
    "accessKeyId": "",
    "accessKeySecret": "",
    "bucket": "oss-"
  },
  "paths": {
    "content": "soulm/contents.jsonl",
    "attachment": "soulm/files"
  },
  "imageWidth": 100,
  "aes": [{
    "name": "key-20251027",
    "key": ""
  }]
}