{
  "ali-oss": {
    "region": "oss-cn-shenzhen",
    "authorizationV4": true,
    "accessKeyId": "",
    "accessKeySecret": "",
    "bucket": "oss-"
  },
  "paths": {
    "content": "soulm/contents.jsonl",
    "attachment": "soulm/files"
  },
  "imageWidth": 100,
  "aes": {
    "key-20251027": ""
  },
  "loadingImg": {
    "light":"data:image/jpeg;base64,",
    "dark":"data:image/jpeg;base64,"
  }
}